{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 100,
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "auto",
  "semi": true,
  "requirePragma": false,
  "trailingComma": "all"
}
